%d-flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cards {
  padding: 76px 0 86px 0;
  // .cards__title

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
    h2 {
      align-self: center;
    }
  }

  // .cards__catalog

  &__catalog {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444240;
    padding-bottom: 11px;
    margin-bottom: 26px;
    border-bottom: 1px solid #C4C0B6;
    width: 104px;
    text-align: right;
    align-self: end;
  }

  // .cards__list

  &__list {
    @extend %d-flex-row-nowrap;
    justify-content: space-between;
  }
}

.card {
  width: 370px;
  background: #FDFDFB;
  background-image: url(../images/card-ellipse.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 40px 28px;

  // .card__title

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(27, 26, 23, 0.82); 
  }

  // .card__price

  &__price {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
  }

  // .card__more

  &__more {
    cursor: pointer;
    margin-top: 19px;
    background-image: url(../images/more-line.svg);
    background-repeat: no-repeat;
    background-position: 0 12px;
    padding-left: 48px;
  }
}


// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 1024px) and (max-width : 1224px--------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
  /*--- Tablet landscape --- */
  .card {
    width: 300px;
    background-position: 50% 50%;
    background-size: 90% 70%;
    padding: 30px 28px;
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 800px) and (max-width : 1024px)--------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 800px) and (max-width : 1024px) {
  /*--- Small tablet landscape ---*/
  .cards {
    h2 {
      font-size: 30px;
    }
  }
  
  .card {
    width: 230px;
    background-position: 50% 50%;
    background-size: 90% 70%;
    padding: 20px 10px;
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 690px) and (max-width : 800px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 690px) and (max-width : 800px) {
  /*--- Tablet portrait ---*/
  .cards {
    h2 {
      font-size: 30px;
    }
  }
  
  .card {
    width: 200px;
    background-position: 50% 50%;
    background-size: 90% 65%;
    padding: 20px 10px;
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 595px) and (max-width : 690px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 595px) and (max-width : 690px) {
  /*--- Small tablet portrait ---*/
  .cards {
    h2 {
      font-size: 26px;
    }
  }
  
  .card {
    width: 160px;
    background-position: 55% 50%;
    background-size: 80% 60%;
    padding: 10px 10px;
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 480px) and (max-width : 595px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 480px) and (max-width : 595px) {
  /*--- Mobile landscape ---*/
  .cards {
    padding: 30px 0;
    h2 {
      font-size: 26px;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__title {
      h2 {
        margin-bottom: 15px;
      }
    }
    .card {
      margin-bottom: 15px;
    }
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 320px) and (max-width : 480px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 320px) and (max-width : 480px) {
  /*--- Mobile portrait ---*/
  .cards {
    padding: 30px 0;
    h2 {
      font-size: 26px;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__title {
      h2 {
        margin-bottom: 15px;
      }
    }
    .card {
      width: 270px;
      background-position: 55% 50%;
      background-size: 100% 70%;
      padding: 10px 10px;
      margin-bottom: 15px;
    }
  }
}