%price-descr {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.promo {
  height: 768px;
  background: #FDFDFB;

  // .promo__row

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    background-image: url("../images/bg-promo.png");
    background-repeat: no-repeat;
    background-position: 63% -5%;
  }

  // .promo__catalog

  &__catalog {
    width: 500px;
  }

  // .promo__title

  &__title {
    background-image: url("../images/line-promo.png");
    background-repeat: no-repeat;
    background-position: 0 32px;
    padding-left: 65px;
    h1 {
      margin-top: 236px;
      font-size: 45px;
      line-height: 60px;
      color: #1B1A17;
    }
    p {
      font-size: 30px;
      line-height: 40px;
      color: #1B1A17;
      margin-bottom: 39px;
    }
  }

  // .promo__text

  &__text {
    width: 330px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
    padding-left: 65px;
    margin-bottom: 64px;
  }

  // .promo__btn

  &__btn {
    cursor: pointer;
    background: #444240;
    margin-left: 65px;
    padding: 26px 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  // .promo__watch
  
  &__watch {
    width: 666px;
    height: 804px;
    background-image: url("../images/bg-watch.png");
    background-repeat: no-repeat;
    background-position: 50% -10px;
    display: flex;
    flex-direction: column;
  }

  // .promo__price

  &__price {
    @extend %price-descr;
    width: 140px;
    margin-top: 138px;
    background-image: url("../images/line-promo.png");
    background-repeat: no-repeat;
    background-position: 90px 10px;
  }

  // .promo__description

  &__description {
    @extend %price-descr;
    align-self: end;
    margin-top: 480px;
    padding-left: 65px;
    background-image: url("../images/line-promo.png");
    background-repeat: no-repeat;
    background-position: 0 10px;
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 1024px) and (max-width : 1224px)-------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
  /*--- Tablet landscape --- */
  .promo {
    height: 525px;

    &__row {
      background-position: 61% -5%;
      background-size: 40% 95%;
    }

    &__title {
      h1 {
        margin-top: 150px;
      }
    }

    &__watch {
      width: 600px;
      height: 550px;
      background-size: contain;
      background-position: 40% -10px;
    }

    &__price {
      margin-top: 90px;
    }

    &__description {
      margin-top: 280px;
    }
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 800px) and (max-width : 1024px)--------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 800px) and (max-width : 1024px) {
  /*--- Small tablet landscape ---*/
  .promo {
    height: 525px;
    
    &__row {
      background-position: 61% -5%;
      background-size: 35% 95%;
    }

    &__title {
      h1 {
        font-size: 36px;
        margin-top: 150px;
      }
    }

    &__watch {
      width: 600px;
      height: 550px;
      background-size: contain;
      background-position: 40% -10px;
    }

    &__price {
      font-size: 14px;
      margin-top: 90px;
      background-position: 75px;
      background-size: 25% 8%;
    }

    &__description {
      font-size: 14px;
      margin-top: 280px;
      background-position: 30px;
      background-size: 15% 8%;
    }
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 690px) and (max-width : 800px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 690px) and (max-width : 800px) {
  /*--- Tablet portrait ---*/
  .promo {
    height: 525px;
    
    &__row {
      background-position: 61% -5%;
      background-size: 40% 95%;
    }

    &__title {
      h1 {
        font-size: 30px;
        margin-top: 110px;
      }
    }

    &__watch {
      width: 600px;
      height: 550px;
      background-size: 110% 100%;
      background-position: 40% -10px;
    }

    &__price {
      display: none;
    }

    &__description {
      display: none;
    }
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 595px) and (max-width : 690px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 595px) and (max-width : 690px) {
  /*--- Small tablet portrait ---*/
  .promo {
    height: auto;
    
    &__row {
      background-position: 100% 50%;
      background-size: 60% 140%;
    }

    &__title {
      h1 {
        font-size: 26px;
        margin-top: 20px;
      }
      >p {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    
    &__text {
      margin-bottom: 30px;
    }

    &__catalog {
      padding-bottom: 30px;
    }

    &__watch {
      display: none;
    }
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 480px) and (max-width : 595px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 480px) and (max-width : 595px) {
  /*--- Mobile landscape ---*/
  .promo {
    height: auto;
    
    &__row {
      background-position: 100% 50%;
      background-size: 60% 140%;
    }

    &__title {
      h1 {
        font-size: 26px;
        margin-top: 20px;
      }
      >p {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    
    &__text {
      margin-bottom: 30px;
    }

    &__catalog {
      padding-bottom: 30px;
    }

    &__watch {
      display: none;
    }
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 320px) and (max-width : 480px)---------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 320px) and (max-width : 480px) {
  /*--- Mobile portrait ---*/
  .promo {
    height: auto;
    
    &__row {
      background-position: 100% 50%;
      background-size: 60% 140%;
    }

    &__title {
      h1 {
        font-size: 26px;
        margin-top: 20px;
      }
      >p {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    
    &__text {
      margin-bottom: 30px;
      padding-left: 0px;
    }

    &__catalog {
      padding-bottom: 30px;
    }

    &__watch {
      display: none;
    }
  }
}